.dashboardButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

#logoutButton:hover #logoutImage {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-weight: bold;
}

#logoutButton #logoutImage {
    -fx-effect: null;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-font-weight: bold;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.menu-item {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
}

.menu-item:hover {
    -fx-background-color: #dcdcdc;
}

.accordion {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.titled-pane {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-skin: "library.CustomTitledPaneSkin";
    -fx-arrow-side: right;
}

.titled-pane > .title {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-width: 0;
    -fx-pref-height: 42px;
    -fx-alignment: baseline-left;
    -fx-padding: 0px 0px 0px 45px;
}

.titled-pane > .content {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.anchor-pane-inside {
    -fx-background-color: #e95e50;
    -fx-border-color: transparent;
}

.accordion {
    -fx-padding: 0;
}

.menuItem:hover {
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem:hover {
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}
