.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #d9d9d9;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 0 10 0 10;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #a9a9a9;
}

.text-field:hover {
    -fx-border-color: #b3b3b3;
}

.text-field:focused {
    -fx-border-color: #0078d7;
    -fx-prompt-text-fill: transparent;
}

.text-field::prompt-text {
    -fx-font-size: 10px;
    -fx-fill: #a9a9a9;
    -fx-font-family: "Arial";
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 8px;
    -fx-padding: 0;
}

.table-column-header {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 10px;
}

.table-column {
    -fx-text-fill: #2c3e50;
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-border-color: transparent;
}

.table-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0.5px;
    -fx-alignment: center;
}

.table-row-cell:filled:hover {
    -fx-background-color: rgba(52, 152, 219, 0.2);
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.table-row-cell:nth-child(odd) {
    -fx-background-color: transparent;
}

.table-row-cell:nth-child(even) {
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: rgba(52, 152, 219, 0.4);
    -fx-text-fill: white;
}

.bookTable {
    -fx-scroll-bar-policy: never;
    -fx-hbar-policy: never;
    -fx-vbar-policy: always;
}

.bookTable .scroll-bar:horizontal {
    -fx-opacity: 0;
}

.bookTable .scroll-bar:vertical {
    -fx-opacity: 1;
}

.bookTable .scroll-bar:horizontal .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.bookTable .scroll-bar .decrement-arrow {
    -fx-padding: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}